{% extends 'base.html' %}

{% block content %}
<div class="container card w-50 p-3">
  <div class="card-body">
    <h5 class="card-title">{{ ticket.message_subject }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ ticket.timestamp }}</h6>
    <h6 class="card-subtitle mb-2 text-muted">{{ ticket.issue_category }}</h6>
    <h6 class="card-subtitle mb-2 text-muted">{{ ticket.ticket_author }}</h6>
    <p class="card-text">{{ ticket.message_body }}</p>
  </div>
</div>



<div class="mb-3">
  <label for="comment_form_element" class="form-label">Reply to ticket:</label>
  <form class="form-control" method="POST" action="{% url 'ticket_detail' ticket.pk %}" id="comment_form_element">
    {% csrf_token %}
    {{ comment_form.as_p }}
    
    <button type="submit" class="btn btn-primary mb-3">Add comment</button>
</form>  

{% for comment in comments %}
<div class="card w-50 p-3">
  <div class="card-body">
    <h5 class="card-title">Response by: {{ comment.comment_author }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ comment.timestamp }}</h6>
    <p class="card-text">{{ comment.comment }}</p>
  </div>
</div>
{% endfor %}


{% endblock content %}